html{
    font-family: "Fredoka", sans-serif;
}

body{
    padding: 0;
    margin: 0;
    width: 100%;
}

.transition-images{
    display: none;
}

header{
    display: flex;
    top: 0;
    left: 0;
    width: 96vw;
    position: sticky;
    margin: 0;
    font-weight: 900;
    background-color: #F2F6AB;
    z-index: 10;
    padding-left: 2%;
    padding-right: 2%;
}

header h1{
    width: auto;
    text-align: left;
    margin-right: 4%;
}

nav {
    background-color: #F2F6AB;
    padding-top: 18px;
}

nav ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: #5B3791;

    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
}

nav ul li a:hover, nav ul li a.active {
    text-decoration: underline;
}

#creator-section img{
    width: 40%;
    margin-left: 30%;
}
h1{
    width: 100%;
    margin: 0;
    text-align: center;
    color: #F2F6AB;
    padding-top: 20px;
    padding-bottom: 20px;    
    /* -webkit-text-stroke: 1.5px #5B3791; */
    font-size: 40px;
    text-shadow:
    1px 1px 0 #5B3791,
    -1px 1px 0 #5B3791,
    -1px -1px 0 #5B3791,
    1px -1px 0 #5B3791;

}


#bee{
    color: #CEC9EC;
}

#puppycat{
    color: #F0CFEB;
}

#and{ 
    color: #5FAEE1;
}

main{
    display: flex;
}

.images-left, .images-right {
    width: 15%;
    height: auto; 
    background-size: contain;
}

.images-left{
    background-image: url('side-grid1.jpg');
}

.images-right{
    background-image: url('side-grid2.jpg');
}

.content-middle{
    width: 70%;
    font-size: 20px;
}


#welcome-section, #plot-section, #characters-section, #creator-section, #similar-shows-section {
    padding: 140px 80px; 
}

#welcome-section {
    background-image: linear-gradient(to bottom, white, #67B2E2);
}

#plot-section {
    background-image: linear-gradient(to bottom, #67B2E2, #A4BFEA);
}

#characters-section{
    background-image: linear-gradient(to bottom, #A4BFEA, #CEC9EC);
}

#creator-section {
    background-image: linear-gradient(to bottom, #CEC9EC, #F0CFEB);
}

#similar-shows-section {
    background-image: linear-gradient(to bottom, #F0CFEB, #F2F6AB);
}

.blue-background{
    background-color: #5FAEE1;
}

.white-background{
    background-color: white;
}

.yellow-background{
    background-color: #F2F6AB;
}

.character-card h3{
    text-align: center;
    font-size: 32px;
    text-shadow:
    1px 1px 0 #5B3791,
    -1px 1px 0 #5B3791,
    -1px -1px 0 #5B3791,
    1px -1px 0 #5B3791;
}

.yellow-background h3{
    color: #5FAEE1;
}

.blue-background h3{
    color: #F2F6AB;
}

.white-background h3{
    color: #F0CFEB;
}

#welcome-section img{
    width: 40%;
    padding-left: 30%;
    margin-bottom: 50px;
}

footer{
    background-color: #F0CFEB;
    border-top: 2px #5B3791 solid;
    padding: 15px 15vw 15px 15vw;
    display: flex;
}

footer p {
    margin-right: 40px;
}

footer a{
    color: black;
}

.character-card img{
    width: 60%;
    padding-left: 20%;
}

.character-card{
    padding: 30px 30px 30px 30px;
    font-size: 18px;
    border: 1px solid black;
    border-radius: 30px;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;

}

.slick-slide{
    height: 600px;
}

h2{
    margin-top: 100px;
    color: #F2F6AB;
    font-size: 30px;
    text-shadow:
    1px 1px 0 #5B3791,
    -1px 1px 0 #5B3791,
    -1px -1px 0 #5B3791,
    1px -1px 0 #5B3791;

}

.streaming{
    display: flex;
    width: 80%;
    padding: 10px 10% 10px 10% ;
    justify-content: space-evenly;
}

.streaming img{
    height: 100px;
}


#creator-section img{
    border-radius: 5000px;
}

.character-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.streaming-options{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    padding-left: 10%;
    justify-content: space-evenly;
}

.streaming-options img{
    height: 300px;
}



@media (max-width: 768px) {
    .images-left, .images-right {
        display: none; 
    }

    .content-middle {
        width: 100%;
    }

    .transition-images{
        display: block;
        width: 100%;
    }

    .streaming{
        display: block;
        text-align: center;
        margin-bottom: 40px;
    }

    #creator-section img{
        width: 60%;
        margin-left: 20%;
    }

    header h1{
        width: 100%;

        text-align: center;
    }

    nav{
        display: none;
    }


}





